<div class='navbar navbar-login'>
<%= stylesheet_link_tag "categories" %>
<%= link_to 'Back', category_index_path, class: 'back-link' %>
<h2 style="color: white; background-color: transparent;">CATEGORIES</h2>
    <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "sign_out text_white" %>
</div>
<h2 class='new-category-header'>Create New Category</h2>

<div class='form-wrapper'>
  <%= render "form", category: @category %>
</div>