<%=stylesheet_link_tag 'splash_screen' %>
<div class='container'>
    <h1> Expense Tracker App</h1>

    <div>
        <%= link_to 'Login', user_session_path, class: 'btn btn-primary'%>
        <%= link_to 'Sign up', new_user_registration_path, class: 'btn '%>
    </div>
</div>