
a {
  text-decoration: none;
}

.fcc-btn {
  background-color: #199319;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  text-align: center;
  border: 1px solid;
  width: 95%;
}

.category {
  margin: 10px;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 2px 1px #d8d8d8;
}

.category-icon {
  width: 40%;
  background-color: white;
}

* {
  color: black;
  text-decoration: none;
  background-color: transparent;
}

.add_categ_btn {
  display: block;
  margin: 50px;
}

.new-category-btn {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-category-header {
  text-align: center;
  margin-bottom: 50px;
}

.form-wrapper {
  margin: 30px;
}

.name-container p {
  text-decoration: none;
  background-color: transparent;
}
