* {
  background-color: transparent;
}

.icon-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.total {
  margin: 10px;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 2px 2px 2px 1px #d8d8d8;
}

.expense-section {
  background-color: white;
  box-shadow: 2px 2px 2px 1px #d8d8d8;
  margin: 20px;
}

.category-icon {
  width: 40%;
  background-color: white;
}

.icon-container h2 {
  background-color: white;
  text-align: center;
}

.transaction-header {
  text-align: center;
  margin-bottom: 50px;
}

.center {
  margin: 50px;
}

.btn-transaction {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.expense {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/** BUTTONS **/
.green_btn_div {
  margin: 0 0 0 0;
  padding: 0;
  bottom: 0;
  justify-content: center;
  align-items: baseline;
  background-color: #5fb523;
  z-index: 300;
  position: fixed;
  width: 100%;
}

.fcc-btn {
  background-color: #5fb523;
  color: white;
  padding: 10px 0 10px 0;
  margin: 10px 10px 10px 10px;
  text-decoration: none;
  text-align: center;
  border: 1px solid white;
  width: 95%;
}

.new_category_btn {
  margin: 0 0 0 0;
  padding: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: baseline;
  background-color: #5fb523;
  z-index: 300;
  position: fixed;
  width: 100%;
}
